/* google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

/* card title */
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');




* {
    box-sizing: border-box;
} 


/* navbar styling */
.nav-link-text {
    font-family: 'PT Serif', serif;
}



/* footer styling */
.footer-container {
    padding-left: 7%;   
    padding-right: 5%;
    padding-top: 4%;
    width: 100%;
    background-image: linear-gradient(to right, white, #6495ED);

}


.footer-header {
    font-size: 18px;
    font-family: 'PT Serif', serif;
    padding-bottom: 2%;
}




.footer-link-item {
    font-family: 'PT Serif', serif;
}

/* end of footer styling */



/* home page styling */
.main-content {
    margin-top: 2%;
}


.cover-page-card-style {
    cursor: pointer;
    /* transition: transform 0.3s ease; */
    margin-bottom: 10%;

} 


/* .cover-page-card-style:hover {
    transform: scale(1.08);

} */



.main-hotels-section {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}


.main-hotels-section-row {
    margin-bottom: 3%;
}


.hotel-card-img {
    min-height: 250px;
    max-height: 250px;
    width: 100%;
    transition: transform 0.3s ease;
}

.hotel-card-img:hover {
    transform: scale(1.06);
}


/* .hotel-card-img {
    filter: brightness(100%)
} */


.card-title {
    font-weight: bolder;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    color: #212529;
    margin-bottom: 20%;
    
}

.card-subtitle {

}

.card-room-location {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

/* .location-detail {
    padding-bottom: 5px;
} */


.card-room-rate {
    padding-bottom: 3%;

}

/* react-rater-styling */


.save-big-text {
    color: rgb(0, 60, 138);
    font-size: 1.3em;
    margin-left: 4%;
    font-family: 'Lora', serif;
}



.intro-background-img {
    width: 100%;
    height: 450px;
    margin-bottom: 5%;

}


.view-all-hotels-text-div {
    margin-left:85%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}


.view-all-hotels-text-div h5 {
    color:rgb(0, 60, 138);
}


.view-all-hotels-arrow {
    margin-left: 5%;
    margin-top: 3%;
}


.best-prices-img {
    width: 120px;
}

.intro-form {
    position:absolute;
    top: 57%;
    width: 70%;
    height: 45%;
    background-color: white;
    margin-left: 14%;;
    padding: 3%;
    /* box-shadow: 4px 8px solid grey; */
    box-shadow: 0px 1px 3px grey;
}


.destination-textbox {
    height: 55px;  
}

.find-hotel-button {
    width: 100%;
    background-color: rgb(0, 60, 138); 
    color: white;
    height: 55px;
}

.find-hotel-button:hover {
    background-color: rgb(0, 60, 138); 
    color: white;
}



.intro-form-row {
    margin-bottom: 2%;
}


.intro-choice-options {
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease;
}


.intro-choice-options:hover {
    cursor: pointer;
    color:#6495ED;
    transform: scale(1.2);

}

.intro-choice-text {
    padding-left: 2%;
    margin-top: -2%;
}


.form-header-div {
    display: flex;
    flex-direction: row;
}


.form-header-div h6 {
    padding-right: 1%;
    margin-left: 9%;
    color: white;
}


.plan-staycation-section {
    margin-top: 5%;
}

.plan-staycation-text {
    color:rgb(0, 60, 138);
    margin-left: 4%;
    font-size: 2.3rem;
    padding-bottom: 2%;
    font-family: 'Lora', serif;
}


.get-best-prices-section {
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Lora', serif;
}


.get-best-prices-text {
    color:rgb(0, 60, 138);
    font-size: 1.8rem;
}


.extra-info-section {
    margin: 5%;
}

.extra-info-row {
    margin-bottom: 8%;
}


.extra-info-title {
    font-family: 'Lora', serif;
    padding-bottom: 5%;
    color:rgb(0, 60, 138)
}


.extra-info-text-col {
    padding: 4%;

}


.extra-info-details {
    font-family: 'Cormorant Garamond', serif;
}


.extra-info-img {
    width: 100%;
    max-height: 350px;
}



/* start date picker styling */
.start-date-picker-styling {
    width: 100%;
}


/* end date picker styling */
.end-date-picker-styling {
    width: 100%;
}
