/* google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

/* card title */
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');



/* global variables */
:root {
    --primary-color: rgb(0, 60, 138);
    --light-blue-color: #CCCCFF;
}




* {
    box-sizing: border-box;
} 


/* navbar styling */
.nav-link-text {
    font-family: 'PT Serif', serif;
}



/* footer styling */
.footer-container {
    padding-left: 7%;   
    padding-right: 5%;
    padding-top: 4%;
    width: 100%;
    background-image: linear-gradient(to right, white, #6495ED);    

}


.footer-header {
    font-size: 18px;
    font-family: 'PT Serif', serif;
    padding-bottom: 2%;
}




.footer-link-item {
    font-family: 'PT Serif', serif;
    
}

.footer-link-icon {
    padding-left: 30%;
}


.newsletter-textbox {
    width: 100%;    
    margin-bottom: 5%;
}


.newsletter-button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    margin-bottom: 2%;
}

.newsletter-button:hover {
    background-color: var(--primary-color);
    color: white;
}


.copyrights-section {
    text-align: center;
}

/* end of footer styling */



/* home page styling */
.main-content {
    margin-top: 2%;

}


.cover-page-card-style {
    cursor: pointer;
    /* transition: transform 0.3s ease; */
    margin-bottom: 10%;

} 


/* .cover-page-card-style:hover {
    transform: scale(1.08);

} */



.main-hotels-section {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}


.main-hotels-section-row {
    margin-bottom: 3%;
}


.hotel-card-img {
    min-height: 250px;
    max-height: 250px;
    width: 100%;
    transition: transform 0.3s ease;
}


.hotel-card-img:hover {
    transform: scale(1.06);
}


/* .hotel-card-img {
    filter: brightness(100%)
} */


.card-title {
    font-weight: bolder;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    color: #212529;
    margin-bottom: 20%;
    
}

.card-subtitle {

}

.card-room-location {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

/* .location-detail {
    padding-bottom: 5px;
} */


.card-room-rate {
    padding-bottom: 3%;

}

/* react-rater-styling */


.save-big-text {
    color: var(--primary-color);
    font-size: 1.3em;
    margin-left: 4%;
    font-family: 'Lora', serif;
}



.intro-background-img {
    width: 100%;
    height: 450px;
    margin-bottom: 5%;

}


.view-all-hotels-text-div {
    margin-left:85%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}


.view-all-hotels-text-div h5 {
    color:var(--primary-color);
}


.view-all-hotels-arrow {
    margin-left: 5%;
    margin-top: 3%;
}


.best-prices-img {
    width: 120px;
}

.intro-form {
    position:absolute;
    top: 57%;
    width: 70%;
    height: 45%;
    background-color: white;
    margin-left: 14%;;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    /* box-shadow: 4px 8px solid grey; */
    box-shadow: 0px 1px 3px grey;
}

.intro-form-catch-phrase {
    text-align: center;
    font-family: 'Lora', serif;
    color: var(--primary-color);
    padding-bottom: 1%;
    font-size: 1.2rem;
}


.destination-textbox {
    height: 55px;  
}

.number-of-guests-textbox {
    height: 55px;
}

.find-hotel-button {
    width: 100%;
    background-color: var(--primary-color); 
    color: white;
    height: 55px;
}

.find-hotel-button:hover {
    background-color: var(--primary-color);
    color: white;
}



.intro-form-row {
    margin-bottom: 2%;
}


.intro-choice-options {
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease;
}


.intro-choice-options:hover {
    cursor: pointer;
    color:#6495ED;
    transform: scale(1.2);

}

.intro-choice-text {
    padding-left: 2%;
    margin-top: -2%;
}


.form-header-div {
    display: flex;
    flex-direction: row;
}


.form-header-div h6 {
    padding-right: 1%;
    margin-left: 9%;
    color: white;
}


.plan-staycation-section {
    margin-top: 5%;
}

.plan-staycation-text {
    color: var(--primary-color);
    margin-left: 4%;
    font-size: 2.3rem;
    padding-bottom: 2%;
    font-family: 'Lora', serif;
}


.get-best-prices-section {
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Lora', serif;
}


.get-best-prices-text {
    color: var(--primary-color);
    font-size: 1.8rem;
}


.extra-info-section {
    margin: 5%;
}

.extra-info-row {
    margin-bottom: 8%;
}


.extra-info-title {
    font-family: 'Lora', serif;
    padding-bottom: 5%;
    color: var(--primary-color);
}


.extra-info-text-col {
    padding: 4%;

}


.extra-info-details {
    font-family: 'Cormorant Garamond', serif;
}


.extra-info-img {
    width: 100%;
    max-height: 320px;
}



/* start date picker styling */
.start-date-picker-styling {
    width: 100%;
}


/* end date picker styling */
.end-date-picker-styling {
    width: 100%;
}




/* selected room details styling */
.book-now-section {
    text-align: center;
    margin-bottom: 5%;

}

.book-now-button-first {
    width: 30%;
    background-color: var(--primary-color); 
    color: white;
    height: 55px;
}

.book-now-button-first:hover {
    background-color: var(--primary-color);
    color: white;
}

.book-now-btn-row {
    text-align: center;
}

.book-now-button-last {
    width: 90%;
    background-color: var(--primary-color); 
    color: white;
    height: 55px;
}

.book-now-button-last:hover {
    background-color: var(--primary-color);
    color: white;
}


.selected-room-checkin-dates {
    margin-left: 6%;
    padding-right: 2%;
    padding-bottom: 2%;
    box-shadow: 2px 2px 8px grey;
    padding-top: 2%;
    padding-left: 2%;
    margin-right: 6%;
    text-align: center;
    margin-bottom: 1%;
}

.selected-room-details-destination {
    height: 55px;
}

.selected-room-details-category {
    height: 55px;
}

.selected-room-details-search-hotel-button {
    height: 55px;
    width: 100%;
}

.selected-room-extra-pics-grid {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}


.selected-room-details-section {
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 3%;
    padding-bottom: 3%;
}

.selected-room-name {
    font-family: 'Lora', serif;
    color: var(--primary-color);
    font-weight: bolder;
    
}


.selected-room-details-price-text {
    font-family: 'Lora', serif;
    color: var(--primary-color);
}


.selected-room-details-headers {
    padding-left: 6%;
    padding-right: 6%;
}


.selected-room-details-sub-section {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 4%;

}


.selected-room-details-sub-header {
    font-family: 'Lora', serif;
    color: var(--primary-color);

}

.srd-padding-bottom {
    padding-bottom: 3%;
}





.selected-room-details-description-section {

}

/* .selected-room-details-good-to-know-div {
    background-color: #6495ED;
} */



.selected-room-features-amenities-div {
    background-color: var(--light-blue-color);
    display: inline-block;
    padding: 10%;
    border-radius: 5%;
    margin-bottom: 10%;

}


.book-now-btn-row {
    margin-top: 3%;
}





/* fetch all rooms section */
.fetch-all-rooms-main-section {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3%;
}


.fetch-all-hotels-row {
    border-radius: 1%;
    padding: 1%;
    margin-bottom: 2%;
    box-shadow: 1px 1px 5px grey;
    cursor: pointer;

}


.fetch-all-hotels-title {
    font-family: 'Lora', serif;
    color: var(--primary-color);
}


.go-to-site-button {
    width: 100%;
    background-color: var(--primary-color); 
    color: white;
    height: 55px;
    margin-top: 8%;
}


.go-to-site-button:hover {
    background-color: var(--primary-color); 
    color: white;
}


.fetch-all-rooms-search-tab-section {
    padding-left: 9%;
    padding-right: 9%;
    margin-top: 3%;
}


.search-hotel-button {
    background-color: var(--primary-color);
    color: white;
}

.search-hotel-button:hover {
    background-color: var(--primary-color);
    color: white;
}

.search-hotel-textbox {
    height: 55px;
}

.hotel-img {
    width: 100%;
    height: 100%;
}





/* booking hotel.js styling */
.book-hotel-wrapper-section {
    padding-left: 6%;
    padding-right: 6%;
}


















.footer-gap {
    margin-bottom: 30%;
}